In [1]:
import pyspark

In [2]:
import pandas as pd

In [3]:
pd.read_csv('student_habits_performance.csv')

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S1995,21,Female,2.6,0.5,1.6,No,77.0,7.5,Fair,2,High School,Good,6,Yes,76.1
996,S1996,17,Female,2.9,1.0,2.4,Yes,86.0,6.8,Poor,1,High School,Average,6,Yes,65.9
997,S1997,20,Male,3.0,2.6,1.3,No,61.9,6.5,Good,5,Bachelor,Good,9,Yes,64.4
998,S1998,24,Male,5.4,4.1,1.1,Yes,100.0,7.6,Fair,0,Bachelor,Average,1,No,69.7
999,S1999,19,Female,4.3,2.9,1.9,No,89.4,7.1,Good,2,Bachelor,Average,8,No,74.9

In [4]:
spark = pyspark.sql.SparkSession.builder.appName('Habits').getOrCreate()

25/04/29 20:53:07 WARN Utils: Your hostname, MacBook-Air-Vladyslav.local resolves to a loopback address: 127.0.0.1; using 192.168.31.62 instead (on interface en0)
25/04/29 20:53:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/29 20:53:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/04/29 20:53:08 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv('student_habits_performance.csv')

In [7]:
spark.read.option('header', 'true').csv('student_habits_performance.csv').show()

+----------+---+------+-------------------+------------------+-------------+-------------+---------------------+-----------+------------+------------------+------------------------+----------------+--------------------+-----------------------------+----------+
|student_id|age|gender|study_hours_per_day|social_media_hours|netflix_hours|part_time_job|attendance_percentage|sleep_hours|diet_quality|exercise_frequency|parental_education_level|internet_quality|mental_health_rating|extracurricular_participation|exam_score|
+----------+---+------+-------------------+------------------+-------------+-------------+---------------------+-----------+------------+------------------+------------------------+----------------+--------------------+-----------------------------+----------+
|     S1000| 23|Female|                0.0|               1.2|          1.1|           No|                 85.0|        8.0|        Fair|                 6|                  Master|         Average|                   8|                          Yes|      56.2|
|     S1001| 20|Female|                6.9|               2.8|          2.3|           No|                 97.3|        4.6|        Good|                 6|             High School|         Average|                   8|                           No|     100.0|
|     S1002| 21|  Male|                1.4|               3.1|          1.3|           No|                 94.8|        8.0|        Poor|                 1|             High School|            Poor|                   1|                           No|      34.3|
|     S1003| 23|Female|                1.0|               3.9|          1.0|           No|                 71.0|        9.2|        Poor|                 4|                  Master|            Good|                   1|                          Yes|      26.8|
|     S1004| 19|Female|                5.0|               4.4|          0.5|           No|                 90.9|        4.9|        Fair|                 3|                  Master|            Good|                   1|                           No|      66.4|
|     S1005| 24|  Male|                7.2|               1.3|          0.0|           No|                 82.9|        7.4|        Fair|                 1|                  Master|         Average|                   4|                           No|     100.0|
|     S1006| 21|Female|                5.6|               1.5|          1.4|          Yes|                 85.8|        6.5|        Good|                 2|                  Master|            Poor|                   4|                           No|      89.8|
|     S1007| 21|Female|                4.3|               1.0|          2.0|          Yes|                 77.7|        4.6|        Fair|                 0|                Bachelor|         Average|                   8|                           No|      72.6|
|     S1008| 23|Female|                4.4|               2.2|          1.7|           No|                100.0|        7.1|        Good|                 3|                Bachelor|            Good|                   1|                           No|      78.9|
|     S1009| 18|Female|                4.8|               3.1|          1.3|           No|                 95.4|        7.5|        Good|                 5|                Bachelor|            Good|                  10|                          Yes|     100.0|
|     S1010| 19|Female|                4.6|               3.7|          0.8|           No|                 77.6|        5.8|        Fair|                 1|                    None|            Good|                   3|                           No|      63.3|
|     S1011| 23|  Male|                3.9|               2.4|          2.5|           No|                 71.7|        7.9|        Fair|                 2|                Bachelor|         Average|                   1|                           No|      74.4|
|     S1012| 19|Female|                3.7|               2.1|          0.4|          Yes|                 81.1|        4.5|        Fair|                 1|                Bachelor|            Good|                   9|                           No|      76.9|
|     S1013| 19|Female|                3.4|               2.7|          2.7|           No|                 89.3|        4.7|        Fair|                 4|                Bachelor|            Good|                  10|                           No|      75.8|
|     S1014| 24|  Male|                2.4|               1.5|          0.7|           No|                 87.4|        6.7|        Poor|                 6|                Bachelor|         Average|                   9|                           No|      78.9|
|     S1015| 21|  Male|                3.1|               5.0|          1.0|           No|                 97.5|        6.5|        Good|                 6|             High School|         Average|                   7|                           No|      74.0|
|     S1016| 20|  Male|                1.0|               0.6|          0.2|           No|                 92.9|        5.6|        Poor|                 3|             High School|            Poor|                   8|                          Yes|      55.2|
|     S1017| 24|Female|                3.4|               2.7|          1.2|           No|                 94.7|        7.5|        Poor|                 0|             High School|         Average|                   1|                          Yes|      70.8|
|     S1018| 24| Other|                2.0|               4.9|          2.9|          Yes|                 88.3|        7.1|        Good|                 2|             High School|            Good|                   5|                           No|      43.9|
|     S1019| 19|  Male|                1.8|               2.5|          2.4|           No|                 71.1|        7.5|        Fair|                 1|             High School|         Average|                   2|                           No|      45.3|
+----------+---+------+-------------------+------------------+-------------+-------------+---------------------+-----------+------------+------------------+------------------------+----------------+--------------------+-----------------------------+----------+
only showing top 20 rows

In [8]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [9]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)

In [9]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string]

In [17]:
df_pyspark.select(['_c0', '_c1']).show()

+----------+---+
|       _c0|_c1|
+----------+---+
|student_id|age|
|     S1000| 23|
|     S1001| 20|
|     S1002| 21|
|     S1003| 23|
|     S1004| 19|
|     S1005| 24|
|     S1006| 21|
|     S1007| 21|
|     S1008| 23|
|     S1009| 18|
|     S1010| 19|
|     S1011| 23|
|     S1012| 19|
|     S1013| 19|
|     S1014| 24|
|     S1015| 21|
|     S1016| 20|
|     S1017| 24|
|     S1018| 24|
+----------+---+
only showing top 20 rows

In [20]:
df_pyspark.dtypes

[('_c0', 'string'),
 ('_c1', 'string'),
 ('_c2', 'string'),
 ('_c3', 'string'),
 ('_c4', 'string'),
 ('_c5', 'string'),
 ('_c6', 'string'),
 ('_c7', 'string'),
 ('_c8', 'string'),
 ('_c9', 'string'),
 ('_c10', 'string'),
 ('_c11', 'string'),
 ('_c12', 'string'),
 ('_c13', 'string'),
 ('_c14', 'string'),
 ('_c15', 'string')]

In [22]:
df_pyspark.describe().show()

25/04/29 21:37:03 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+----------+-----------------+------+-------------------+------------------+------------------+-------------+--------------------+------------------+------------+------------------+--------------------+----------------+--------------------+--------------------+------------------+
|summary|       _c0|              _c1|   _c2|                _c3|               _c4|               _c5|          _c6|                 _c7|               _c8|         _c9|              _c10|                _c11|            _c12|                _c13|                _c14|              _c15|
+-------+----------+-----------------+------+-------------------+------------------+------------------+-------------+--------------------+------------------+------------+------------------+--------------------+----------------+--------------------+--------------------+------------------+
|  count|      1001|             1001|  1001|               1001|              1001|              1001|         1001|                1001|              1001|        1001|              1001|                1001|            1001|                1001|                1001|              1001|
|   mean|      NULL|           20.498|  NULL|             3.5501| 2.505500000000002|1.8197000000000014|         NULL|   84.13170000000002| 6.470099999999999|        NULL|             3.042|                NULL|            NULL|               5.438|                NULL| 69.60150000000003|
| stddev|      NULL|2.308099504640848|  NULL|  1.468889930399016| 1.172422417187732|1.0751175692861632|         NULL|   9.399246296429354|1.2263767732593391|        NULL|2.0254230023228095|                NULL|            NULL|  2.8475014072453537|                NULL|16.888563921818257|
|    min|     S1000|               17|Female|                0.0|               0.0|               0.0|           No|               100.0|              10.0|        Fair|                 0|            Bachelor|         Average|                   1|                  No|             100.0|
|    max|student_id|              age|gender|study_hours_per_day|social_media_hours|     netflix_hours|part_time_job|attendance_percen...|       sleep_hours|diet_quality|exercise_frequency|parental_educatio...|internet_quality|mental_health_rating|extracurricular_p...|        exam_score|
+-------+----------+-----------------+------+-------------------+------------------+------------------+-------------+--------------------+------------------+------------+------------------+--------------------+----------------+--------------------+--------------------+------------------+

In [23]:
# df_pyspark.withColumn('test', 2)

PySparkTypeError: [NOT_COLUMN] Argument `col` should be a Column, got int.